.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formTitle {
  display: flex;
  justify-content: center;
}

.active {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #016efc;
}

.inactive {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  color: #75869b;
}

.borderline {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 145.2%;
  letter-spacing: 0.03em;
  margin-left: 10px;
  margin-right: 10px;
  color: #254050;
}
